@import "@/scss/_const.scss";

.c--btn {
    border-radius: 5rem;
    border: 0.1rem solid #05b9d7;
    background: #05b9d7;
    padding: 0.4rem 1.5rem;
    font-size: 1.8rem;
    color: #ffffff;
    outline: none;
}