@import "@/scss/_const.scss";

.btn {
    border-radius: 50px;
    border: 1px solid #05b9d7;
    background: #05b9d7;
    padding: 4px 15px;
    font-size: 18px;
    color: #ffffff;
    outline: none;
}