@import "@/scss/_const.scss";

.c--input {
    color: $_INPUT_COLOR;
    font-size: 1.4rem;
    padding: 0.8rem;
    background: $_INPUT_BACKGROUND_COLOR;
    border-radius: 5rem;
    border: none;
    outline: none;
    width: 24.9rem;
}